[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"luma.oled" = "*"
"luma.core" = "*"
pi1wire = "*"
loguru = "*"
psutil = "*"
gpiozero = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.2"
